

/*.canvas{*/
/*    margin-top: 80px;*/
/*    cursor: pointer;*/
/*    border-radius: 5px;*/
/*}*/

.main{
    /*margin-top: 100px;*/
}

.btn-group{
    /*width: 1200px;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*padding-top: 20px;*/
}

.btn{
    margin-top: 10px;
    background-color: #A5D0DD;
    width: 80px;
    height: 40px;
    text-align: center;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Apple SD Gothic Neo";
}

.btn:active{
    background-color: #8c9ba2;
    border: none;
}

.label{
    font-size: 34px;
    margin-left: 50px;
    /*margin-bottom: 20px;*/
    font-family: "American Typewriter";
    margin-top: 20px;
    width: 400px;
    /*font-family: "Apple SD Gothic Neo";*/
}

.sub-label{
    font-size: 16px;
    font-family: "American Typewriter";
}

.save-btn{
    /*margin-left: 10px;*/
    width: 650px;
}

.do-btn{
    /*margin-top: 60px;*/
    /*margin-left: 150px;*/
    width: 290px;
}

.fractal-canvas{
    margin-top: 40px;
    margin-left: 250px;
}

.fractal-span{
    margin-left: 50px;
    width: 200px;
}

.slider{
    width: 650px;
}

.img-style{
    max-width: 650px;
    max-height: 500px;
    min-width: 650px;
    min-height: 500px;
    margin-bottom: 10px;
}

.temp{
    margin-right: 40px;
}